@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.gallery__item {
	// display: block;
	width: calc(25% - 30px + (30px / 4));
	height: 301px;
	object-fit: cover;
	border-radius: 50px;

	/*
	TODO:
		1. [DONE] доделать галерею
		2. вынести в модификаторы код ниже
		3. зарефакторить всё
		4. чекнуть pixel перфект
		5. править адаптив
	*/

	@include desktop-only {
		&:nth-child(n+5):nth-child(-n+9) {
			width: calc(20% - 30px + (30px / 5));
		}
	}

	@include media-laptop {
		width: calc(33.33% - 20px + (20px / 3));
		
		&:nth-child(n+5):nth-child(-n+9) {
			width: calc(25% - 20px + (20px / 4));
		}
	}

    @include media-tablet {
        height: 200px;
        border-radius: 40px;
    }

	@include media-mobile {
		width: calc(50% - 10px + (10px / 2));
		height: 110px;
		border-radius: 20px;

		&:nth-child(n+5):nth-child(-n+9) {
			width: calc(33.33% - 10px + (10px / 3));
		}

		&:first-child {
			padding-right: 4px;
		}

		&:nth-child(4) {
			padding-left: 4px;
		}
	}
}
