@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.photos__paragraph {
	max-width: 408px;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
	color: $color-gray-300;

    @include media-mobile {
		width: 100%;
		margin-top: 20px;
    }
}
