@import 'src/scss/blocks/title/_size/title_size_2';
@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';

.section-title {
	@include title_size_2;
	text-align: center;
	color: $color-black;

	@include media-tablet {
		word-break: break-all;
	}

	@include media-mobile {
		word-break: keep-all;
	}
}
