@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.link_inst {
	position: relative;

	&::before {
		content: url('icons/inst.svg');
		position: absolute;
		left: -36px;
	}
}
