@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';

.form__radio {
    display: flex;
    column-gap: 31px;
    margin-top: 8px;

    @include media-mobile {
        column-gap: 30px;
    }
}
