@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.paragraph {
    @include Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.4px;
	color: $color-white;

    @include media-mobile {
        font-size: 16px;
        line-height: 22.72px;
    }
}