@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.link {
    @include pNormal;
    color: $color-white;

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
    }

    &:hover::after {
        background: $color-white;
    }

    &_social,
    &_social.link_black {
        &:active {
            color: $color-orange-200;
        }

        &:active::after {
            background: $color-orange-200;
        }
    }

    &_black {
        @include link_black;
    }
}