@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.form__textarea {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 152px;
    margin-top: 8px;
    resize: none;

    @include media-mobile {
        min-height: 132px;
        padding: 10px;
    }
}
