@mixin Roboto {
    font-family: Roboto, Arial, sans-serif; 
}

@mixin h1 {
    @include Roboto;
    font-size: 96px;
    font-weight: 700;
    line-height: 104.64px;
    letter-spacing: .02em;

    @include media-mobile {
        font-size: 34px;
        line-height: 38.08px;
    } 
}

@mixin h2 {
    @include Roboto;
    font-size: 59px;
    font-weight: 700;
    line-height: 73.16px;

    @include media-mobile {
        font-size: 34px;
        letter-spacing: .02em;
        line-height: 38.08px;
    }
}

@mixin h3 {
    @include Roboto;
    font-size: 35px;
    font-weight: 500;
    line-height: 42.7px;

    @include media-mobile {
        font-size: 23px;
        font-weight: 700;
        letter-spacing: .04em;
        line-height: 27.6px;
        letter-spacing: .04em;
    }
}

@mixin pBig {
    @include Roboto;
    font-size: 23px;
    font-weight: 700;
    line-height: 28.06px;

    @include media-mobile {
        font-size: 16px;
        line-height: 22.72px;
    }
}

@mixin pNormal {
    @include Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.4px;

    @include media-mobile {
        font-size: 16px;
        line-height: 22.72px;
    }
}

@mixin pSmall {
    @include Roboto;
    font-size: 17px;
    font-weight: 400;
    line-height: 24.14px;
    letter-spacing: -.01em;

    @include media-mobile {
        font-size: 16px;
        line-height: 22.72px;
    }
}

@mixin link_black {
    color: $color-black;
    &:hover::after {
        background: $color-black ;
    }
}

@mixin input {
    @include pNormal;
    width: 100%;
    height: 68px;
    padding: 20px;
    background: $color-beige-100;
    border: 1px solid $color-beige-200;
    border-radius: 10px;

    &:hover {
        background: $color-beige-200;
        cursor: pointer;
    }

    &:focus {
        border-color: $color-gray-300;
        outline: none;
    }

    &::placeholder,
    &::-webkit-datetime-edit {
        color: $color-gray-300;
    }

    &::-webkit-datetime-edit {
        text-transform: uppercase;
    }

    &::-webkit-calendar-picker-indicator,
    &::-webkit-inner-spin-button {
            display: none;
            -webkit-appearance: none;
    }

    @include media-mobile {
        height: 43px;
        padding: 10px;
    }
}
