@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';

.card__paragraph {
    max-width: 554px;
    margin-top: 37px;
    color: $color-white;

    @include media-tablet {
        max-width: none;
        margin-top: 20px;
    }
}
