@import '../utilities/variables';
@import '../utilities/media';
@import '../utilities/mixins';

.build-your-tour__top {
    @include media-mobile {
        padding-bottom: 40px !important;
    }
}

.build-your-tour__text {
    width: 400px;
    margin: 0 auto;

    @include media-tablet {
        width: 100%;
    }

    @include media-mobile {
        width: 100%;
    }
}

.form__radio {
    display: flex;
    column-gap: 31px;

    @include media-mobile {
        column-gap: 30px;
    }
}

.form__row.btn__row {
    @include media-mobile {
        flex-direction: row;
        column-gap: 10px;
    }
}
