@import '../utilities/variables';
@import '../utilities/media';
@import '../utilities/mixins';

@mixin media-small-notebook {
    @media (max-width: 760px) {
        @content;
    }
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;

    @include media-small-notebook {
        flex-direction: column;
        width: 100%;
    }

    @include media-tablet {
        text-align: center;
    }
}

.cta__image {
    width: 370px;
    border-radius: 50px;

    @include media-small-notebook {
        width: 300px;
        border-radius: 30px;
    }

    @include media-mobile {
        width: 130px;
        height: 133px;
        border-radius: 20px;
    }
}

.cta__title {
    @include media-small-notebook {
        margin-top: 30px;
    }
}

.cta__text {
    @include pNormal;
    margin-top: 20px;

    @include media-mobile {
        max-width: 300px;
        margin: 0 auto;
        margin-top: 20px;
    }
}

.cta__link {
    display: inline-block;

    &:active {
        color: $color-green-400;
    }
    
    &:active::after {
        background-color: $color-green-400;
    }
}

.cta__right {
    max-width: 371px;
}
