@import '../utilities/variables';
@import '../utilities/media';
@import '../utilities/mixins';

.footer {
    margin-top: 135px;
    background: $color-beige-200;

    @include media-mobile {
        margin-top: 75px;
    }
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;

    @include media-laptop {
        max-width: 958px;
    }

    @include media-tablet {
        flex-direction: column;
    }

    @include media-mobile {
        padding: 21px;
    }
}

.footer__text {
    @include pNormal;
}

.footer__links {
    display: flex;
    column-gap: 25px;
    
    @include media-tablet {
        column-gap: 15px;
        margin-top: 7px;
    }

    @include media-mobile {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.link__icon {
    display: inline-block;
    width: 26px;

    @include media-mobile {
        width: 20px;
        height: 20px;
    }
}

.footer__link-text {
    margin-left: 10px;

    @include media-mobile {
        margin-left: 5px;
    }
}

.link__icon,
.footer__link-text {
    display: inline-block;
    vertical-align: middle;
}
