@import '../utilities/variables';
@import '../utilities/media';
@import '../utilities/mixins';

.photos__gallery {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    @include media-laptop {
        padding: 0 20px;
    }

    
    @include media-tablet {
        row-gap: 18px;
        padding: 0 21px;
    }

    @include media-mobile {
        row-gap: 18px;
        padding: 0 21px;
    }
}

.gallery__row,
.gallery__row-special {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;

    @include media-laptop {
        grid-gap: 20px;
    }

    @include media-tablet {
        grid-gap: 18px;
    }

    @include media-mobile {
        grid-gap: 19px;
    }
}

.gallery__row:first-child {
    @include media-tablet {
        grid-gap: 10px;
    }

    @include media-mobile {
        grid-gap: 18px;
    }
}

.gallery__row:nth-child(3) {
    grid-gap: 10px;
}

.gallery__row-special {
    grid-gap: 10px;
}

.gallery__row {
    @include media-laptop {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include media-tablet {
        grid-template-columns: 1fr 1fr;
    }

    @include media-mobile {
        grid-template-columns: 1fr 1fr;
    }
}

.gallery__row-special {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    @include media-laptop {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @include media-tablet {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include media-mobile {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.photos__image {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 50px;

    @include media-tablet {
        height: 200px;
        border-radius: 40px;
    }

    @include media-mobile {
        height: 110px;
        border-radius: 20px;
    }
}


@include media-laptop {
    .img-2,
    .img-7,
    .img-13 {
        display: none;
    }
}

@include media-tablet {
    .img-2,
    .img-3,
    .img-6,
    .img-12,
    .img-13 {
        display: none;
    }
}

@include media-mobile {
    .img-2,
    .img-3,
    .img-6,
    .img-12,
    .img-13 {
        display: none;
    }
}

// .photos__image:nth-child(2) {
//     order: 5;
// }