@import '../utilities/variables';
@import '../utilities/media';
@import '../utilities/mixins';

.reviews__title {
    max-width: 530px;
    margin: 0 auto;

    @include media-tablet {
        width: 100%;
    }
}

.reviews__list {
    display: flex;
    column-gap: 30px;

    @include media-laptop {
        column-gap: 18px;
    }

    @include media-tablet {
        flex-direction: column;
        row-gap: 18px;
    }
}

.review-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 40px;
    background: $color-beige-200;
    border-radius: 50px;

    @include media-mobile {
        padding: 20px;
        border-radius: 20px;
    }
}

.review-card__text {
    @include pBig;
    margin-top: 28px;

    &:first-child {
        margin-top: 0;
    }
}

.user__right {
    display: flex;
}

.review-card__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 69px;

    @include media-mobile {
        align-items: flex-end;
        margin-top: 40px;
    }
}

.user__trip {
    @include pSmall;
    margin-top: 8px;
    color: $color-gray-300;
}

.user__avatar {
    width: 75px;
    border-radius: 50px;
}
