@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.cta-small-content__link {
    display: inline-block;

    &:active {
        color: $color-green-400;
    }
    
    &:active::after {
        background-color: $color-green-400;
    }
}
