@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';

.travel-with-us {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;

    @include media-tablet {
        flex-direction: column;
		row-gap: 30px;
        text-align: center;
    }
}
