@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';

.card-list {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;

    @include media-laptop {
        grid-gap: 18px;
    }
}
