@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.tours__tab {
	min-height: 34px;
	margin-top: 35px;

	@include media-mobile {
		margin-top: 30px;
	}
}
