@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';

.travel-with-us__text {
    margin-top: 20px;
	color: $color-gray-300;

    @include media-mobile {
        max-width: 300px;
        margin: 0 auto;
        margin-top: 20px;
    }
}
