@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.header {
    max-height: 831px;
    background: url(img/header/header-img.jpg) no-repeat;
    background-size: cover;
    background-position-y: center;
    color: $color-white;

    @include media-laptop {
        background-position-x: -110px;
    }

    @include media-tablet {
        max-height: 1024px;
    }
}

.header__top {
    display: flex;
    height: 88px;
}

.header__fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background: rgba(#F3EFE8, .6);
    backdrop-filter: blur(10px);

    .nav__link,
    .nav__phone {
        @include link_black;
    }
    
    .nav__logo-pic {
        fill: $color-black;
    }

    .nav {
        max-width: calc(1168px + 20px * 2);
        padding: 0 20px;
        margin: 0 auto;

        @include media-laptop {
            max-width: 910px;
        }

        @include media-mobile {
            width: 100%;
            padding: 0 21px;
        }
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav.container {
    @include media-laptop {
        padding: 0 24px;
    }

    @include media-mobile {
        padding: 0 20px;
    }
}

.nav__logo-pic {
    width: 181.84px;

    @include media-tablet {
        width: 133px;
    }
}

.nav__list {
    display: flex;

    @media (max-width: 810px) {
        display: none; 
    }
}

.nav__item {
    margin-left: 50px;

    &:first-child {
        margin-left: 0;
    }

    @include media-laptop {
        margin-left: 30px;
    }
}

.nav__link,
.nav__phone {
    @include pNormal;
    color: $color-white;
}

.nav__phone {
    @include media-mobile {
        font-size: 16px;
        line-height: 22.72px;
    }
}

.header__content {
    max-width: 768px;
    padding-top: 119px;
    padding-bottom: 119px;
    margin: 0 auto;
    text-align: center;

    @include media-mobile {
        width: 100%;
        padding: 52px 20px;
    }
}

.header__desc {
    max-width: 562px;
    margin: 0 auto;
    margin-top: 50px;

    @include media-laptop {
        max-width: 444px;
    }

    @include media-mobile {
        max-width: 304px;
        margin-top: 40px;
    }
}

.header__button {
    margin-top: 50px;
    
    @include media-mobile {
        margin-top: 40px;
    }
}
