@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.reviews__list {
    display: flex;
    column-gap: 30px;

    @include media-laptop {
        column-gap: 18px;
    }

    @include media-tablet {
        flex-direction: column;
        row-gap: 18px;
    }
}

// .review-card {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     width: 100%;
//     padding: 40px;
//     background: $color-beige-200;
//     border-radius: 50px;

// }


// TODO: сделать в элементе
// .card-review__bottom {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin-top: 69px;

//     @include media-mobile {
//         align-items: flex-end;
//         margin-top: 40px;
//     }
// }


