@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';

.stories-item__bottom {
	position: relative;
    bottom: -7px;
    left: -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 70px;

    @include media-mobile {
        align-items: flex-end;
    }
}
