@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.card__links {
    position: relative;
    right: -20px;
    column-gap: 35px;

    @include media-tablet {
        display: none;
    }
}
