@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
	// в элемент вынести отступы
    margin-top: 69px;

    @include media-mobile {
        align-items: flex-end;
        margin-top: 40px;
    }
}