@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.header__links {
    column-gap: 50px;

    @include media-laptop {
        column-gap: 30px;
    }

    @media (max-width: 820px) {
        display: none; 
    }
}
