@import 'src/scss/blocks/paragraph/_size/paragraph_size_big';
@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';

.comment-item__paragraph {
	@include paragraph_size_big;
	color: $color-black;
	margin-top: 28px;

	&:first-child {
		margin-top: 0;
	}
}
