@import '../utilities/variables';
@import '../utilities/media';
@import '../utilities/mixins';

a {
    text-decoration: none;
}

h1,
h2,
h3,
.p-big,
.p-normal,
.p-small {
    color: $color-black;
    word-wrap: break-word;
}

h1 {
    @include h1;
}

h2 {
    @include h2;
}

h3 {
    @include h3;
}

.p-big {
    @include pBig;
}

.p-normal {
    @include pNormal;
}

.p-small {
    @include pSmall;
}


.link {
    @include pNormal;
    color: $color-white;

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
    }

    &:hover::after {
        background: $color-white;
    }

    &_social,
    &_social.link_black {
        &:active {
            color: $color-orange-200;
        }

        &:active::after {
            background: $color-orange-200;
        }
    }

    &_black {
        @include link_black;
    }
}
