@import 'utilities/variables';
@import 'utilities/media';
@import 'utilities/mixins';

* {
    box-sizing: border-box;
}


img {
    width: 100%;
}




.body_header-fixed {
    margin-top: 88px;
}

.gray {
    color: $color-gray-300;
}
