@import 'utilities/variables';
@import 'utilities/media';
@import 'utilities/mixins';

* {
    box-sizing: border-box;
}

body {
    font: 20px Roboto, sans-serif;
    background: $color-beige-100;
    color: $color-black;
}

img {
    width: 100%;
}

.container {
    max-width: calc($container-width-desktop + 20px * 2);
    padding: 0 20px;
    margin: 0 auto;

    @include media-laptop {
        max-width: calc($container-width-laptop + 20px * 2);
    }

    @include media-tablet {
        max-width: none;
        padding: 0 21px;
    }
}

.hidden {
    opacity: 0;
    height: 0;
}

.body_header-fixed {
    margin-top: 88px;
}

.gray {
    color: $color-gray-300;
}
