@import 'utilities/variables';
@import 'utilities/media';
@import 'utilities/mixins';

* {
    box-sizing: border-box;
}

body {
    font: 20px Roboto, sans-serif;
    background: $color-beige-100;
    color: $color-black;
}

img {
    width: 100%;
}

.container {
    max-width: $container-width-desktop;

    @include media-laptop {
        max-width: $container-width-laptop;
        // padding: 53px;
    }

    @include media-mobile {
        max-width: none;
        padding: 21px;
    }

    margin: 0 auto;
}

.hidden {
    opacity: 0;
    height: 0;
}

.body_header-fixed {
    margin-top: 88px;
}

.gray {
    color: $color-gray-300;
}

