@import '1-variables.scss';
@import 'media';
@import 'mixins';

/* Header */

.header {
    background: url(img/header/header-img.jpg) no-repeat;
    background-size: cover;
    color: $color-white;
}

.header__top {
    display: flex;
    height: 88px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav__logo-pic {
    width: 181.84px;
    @include media-mobile {
        width: 133px;
    }
}

.nav__list {
    display: flex;

    @include media-tablet {
        display: none;
    }

    @include media-mobile {
        display: none;
    }
}

.nav__item {
    margin-left: 50px;
    @include media-laptop {
        margin-left: 30px;
    }
}

.nav__item:first-child {
    margin-left: 0;
}

.nav__item::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
}

.nav__item:hover::after {
    background: $color-white;
}

.nav__link {
    color: $color-white;
}

.nav__phone {
    color: $color-white;
    @include media-mobile {
        font-size: 16px;
        line-height: 22.72px;
    }
}

.header__content {
    padding: 119px 0;

    max-width: 768px;

    @include media-mobile {
        padding: 52px 20px;
        width: 100%;
    }

    text-align: center;
    margin: 0 auto;
}

.header__title {
    color: $color-white;

    @include media-tablet {
        @include h2;
    }
}

.header__desc {
    max-width: 562px;
    margin: 0 auto;
    margin-top: 50px;
    color: $color-white;

    @include media-mobile {
        margin-top: 40px;
    }
}

.header__button {
    margin-top: 50px;
    
    @include media-mobile {
        margin-top: 40px;
    }
}


/* Choose your tour */

.section__text {
    text-align: center;
}

.choose-your-tour__title {
    margin-bottom: 35px;
}

.choose-your-tour__tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    row-gap: 10px;

    @include media-tablet {
        column-gap: 10px;
        flex-wrap: wrap;
    }

    @include media-mobile {
        column-gap: 10px;
        flex-wrap: wrap;
    }
}

.choose-your-tour__tours {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;

    @include media-laptop {
        grid-template-columns: 1fr 1fr;
        grid-gap: 18px;
    }

    @include media-mobile {
        grid-template-columns: 1fr;
        grid-gap: 18px;
    }
}

.tour-card {
    position: relative;
    display: flex;
    border-radius: 50px;
    overflow: hidden;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
    }

    @include media-mobile {
        border-radius: 20px;
    }

    &:hover .tour-card__image {
        transform: scale(1.2);
    }
}

.tour-card__content {
    position: absolute;
    top: 50px;
    left: 50px;
    bottom: 50px;
    z-index: 2;

    @include media-mobile {
        top: 25px;
        left: 25px;
        bottom: 25px;
    }
}

.tour-card__image {
    transition: transform 300ms ease;
    width: 100%;
}

.tour-card__title {
    color: $color-white;

}
.tour-card__price {
    margin-top: 16px;
    color: $color-white;
}

.tour-card__btn {
    position: absolute;
    bottom: 0;
}