@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';

.comment-item {
	padding: 40px;
	background: $color-beige-200;

	&::before {
		background: none;
	}

	@include media-mobile {
        padding: 20px;
        border-radius: 20px;
	}
}
