@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.heading_size_2 {
    font-size: 59px;
    line-height: 73.16px;

    @include media-mobile {
        font-size: 34px;
        letter-spacing: .02em;
        line-height: 38.08px;
    }
}