@import 'src/scss/utilities/variables';
@import 'src/scss/utilities/media';
@import 'src/scss/utilities/mixins';

.travel-with-us__image {
	max-width: 370px;
    border-radius: 50px;

    @include media-large-tablet {
        width: 240px;
        border-radius: 30px;
    }

    @include media-tablet {
        width: 300px;
        border-radius: 40px;
    }

    @include media-mobile {
        width: 130px;
        height: 133px;
        border-radius: 20px;
    }
}
